
ErrorDocument 400     error-pages/400.html
ErrorDocument 403     error-pages/403.html
ErrorDocument 404     error-pages/404.html
ErrorDocument 500     error-pages/500.html
ErrorDocument 503     error-pages/503.html
php_flag display_errors Off