
ErrorDocument 400     /light/error-pages/400.html
ErrorDocument 403     /light/error-pages/403.html
ErrorDocument 404     /light/error-pages/404.html
ErrorDocument 500     /light/error-pages/500.html
ErrorDocument 503     /light/error-pages/503.html
php_flag display_errors Off