
animate.css
bootstrap==3
bootstrap-datepicker
bootstrap-colopicker==2.5.3
bootstrap-select==1.13.1
bootstrapvalidator
font-awesome==4.7.0
footable
jquery==2.2.4
jquery-overlaps
jquery-slimscroll
mdi
metismenu
moment
phpmailer
popper.js
select2
sweetalert2
themify-icons
waves
